<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2708Carlj28.Szyfrownik" Publisher="CN=7B07270C-1919-4B56-BA64-71D9AA61C6B9" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Szyfrownik</DisplayName>
    <PublisherDisplayName>Carlj28</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SzyfrCezara2.App">
      <VisualElements DisplayName="Szyfrownik" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="SzyfrCezara2" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>